# Nginx-Cmd Environment Configuration Example

# Timezone for the container
TIMEZONE=America/Argentina/Buenos_Aires

# Docker data root directory (Where persistence lives)
DOCKER_DATA=/home/user/app-data

# SSL/Certbot Configuration
NGINX_CMD_CERT_EMAIL=admin@example.com

# Paths inside the container (Defaults match the Dockerfile)
NGINX_CMD_NGINX_PATH=/opt/nginx
NGINX_CMD_CERTS_PATH=/etc/letsencrypt
NGINX_CMD_SITE_PATH=/opt/site
NGINX_CMD_TRUST_PATH=/usr/local/share/ca-certificates


# Internal PKI Branding (Optional)
NGINX_CMD_PKI_ROOT_CN="My Infrastructure Root CA"
NGINX_CMD_PKI_INTER_CN="My Infrastructure Intermediate CA"
